<!DOCTYPE html>
<html>


<head>
  <link rel="stylesheet" type= "text/css" href="/resources/about.css"></link>
  <link href='http://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
</head>


<body>
  <h1> About Us!</h1>
  <h2>Wicked Professional</h2>
  <div>
    <h2>Emily Marin</h2>
    <img src = "/images/emily.jpg">
    <p>
      Hey y'all! I actually go by a couple of different names due to some birth
      certificate issues (Emeli, Emily, and Emily Margaret), so what you call me
      is really a free for all. I'll be a CSSIer this summer and will be flying
      in from Atlanta, Georgia. Food, dance, politics, fashion, and Elon Musk are
      the loves of my life, and I'm a major Guard geek (which is spinning flags
      and weapons for you guys out of the loop). This fall I'll be double majoring
      in Computer Science and Electrical Engineering at Georgia Tech. I'm so pumped
      to meet everybody this July!
      Fun fact: When I'm excited, in a fit of laughter, or making a joke, I have
      a pretty thick, good ole "Ah-lannah" accent, so be expecting to hear a lot
      of it this summer!
    </p>
  </div>

  <div>
    <h2>Mikaela Hunter</h2>
    <img src = "/images/mikaela.jpg">
    <p>
      Hey! I'm Mikaela and I am from Anchorage, AK. Next year I will be attending
      the University of Alaska Fairbanks, majoring in CS. I love taking photos,
      programming robots, and drinking coffee. No, it is not "always cold in Alaska",
      we actually have some pretty nice summers. I love watching Friends and Grey's
      Anatomy on Netflix with my friends. One day, I hope to become an information
      systems security officer. I love listening to music, I don't really have a
      specific type of music that I like listening to.
    </p>
  </div>

  <div>
    <h2>Leo Leal</h2>
    <img src = "/images/leo.JPG">
    <p>
      Hi, everyone!
      My name is Leo Leal, and I'm from Granada Hills, California. I've lived most
      of my life in Sylmar, California. I'm going to be attending the University
      of California, Irvine, majoring in Computer Science and Engineering.
      I used to play football until last year and recently took on a love for theater and acting, I love performing
      improv. I also love listening to music and watching anime. After
      discovering computer science through a presentation given to the Calculus AB class I was in last year, I
      instantly fell in love with the concepts and possibilities brought into
      the light through computer science. I hope to use the skills I learn from CSSI and college to either help
      create amazing Video games with graphics as amazing as "Gears of War" and
      "Batman: the Arkham Series" (my two favorite games), or work as a digital
      forensics expert and help with solving issues of the digital variety.
    </p>
  </div>

</body>


</html>
