<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Travel modes in directions</title>
    <link rel="stylesheet" type= "text/css" href="resources/directions.css"></link>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src ="resources/directions.js"></script>

  </head>
  <body>
    <div id="panel">
    <b>Mode of Travel: </b>
    <select id="mode" onchange="calcRoute();">
      <option value="initial"></option>
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
    </div>
    <div class="FixedHeightContainer">
      <div class="infobox">
        {{ greeting }}
        <a id= "yelp" href= ""></a>
        <form action="/yelp" method="GET">
          <div> What are you looking for?
            <input type="text" name="term">
          </div>
          <input id="hidden_lat" type="hidden" name="lat" value="">
          <input type="submit" value="Search!"/>
        </form>
          <h1> {% for restraunt in restraunts%} </h1>
            <h3> {{ restraunt.name }} </h3>
            <a href= {{ restraunt.url }} > {{ restraunt.url }} </a>
            <div> {{ restraunt.address }}, {{ restraunt.city }}, {{ restraunt.state }} </div>
            <div>{{ restraunt.types }}</div>
            <div><a id="locationlat">{{ restraunt.latitude }}</a>
              <a id="locationlon">{{ restraunt.longitude }}</a>
              <button id="locbutton" onclick="destination()">Find Directions!</button>
            </div>
            {% endfor %}
        <a id= "eventful"> <button type = "button" name="Eventful Results">Eventful</button></a>
        <h1> {% for event in events %} </h1>
          <h3> {{ event.title }} </h3>
          <div> {{ event.venue }} </div>
          <div> {{ event.city }}, {{ event.region }}, {{ event.country }} </div>
          <a href= {{ event.url }} > {{ event.url }} </a>
          {% endfor %}
      </div>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
