<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Travel modes in directions</title>
    <link rel="stylesheet" type= "text/css" href="resources/directions.css"></link>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src ="resources/directions.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div id="panel">
    <b>Mode of Travel: </b>
    <select id="mode" onchange="calcRoute();">
      <option value="Initial"></option>
      <option value="DRIVING">Driving</option>
      <option value="WALKING">Walking</option>
      <option value="BICYCLING">Bicycling</option>
      <option value="TRANSIT">Transit</option>
    </select>
    </div>
    <div class="FixedHeightContainer">
      <div class="infobox">
        <scan id="greeting">{{ greeting }}</scan><br/>
      <scan id="results">See your itinerary <a href="/itinerary">here</a></scan>
      <br id="break"></br>
        <a id= "yelp" href= ""></a>
        <form action="/yelp" method="GET">
          <div>
            <input class="button" type="text" name="term">
          </div>
          <input id="hidden_lat" type="hidden" name="lat" value="">

          <input class="button" type="submit" value="Search for Businesses"/>

        </form>
          <h1> {% for restraunt in restraunts%} </h1>
            <h3> {{ restraunt.name }} </h3>
            <a href= {{ restraunt.url }}> {{ restraunt.url }} </a>
            <div> {{ restraunt.address }}, {{ restraunt.city }}, {{ restraunt.state }} </div>
            <div>{{ restraunt.types }}</div>
            <!-- <div> -->
              <button id="{{ restraunt.url }}" type = "button" value="{{ restraunt.address }}, {{ restraunt.city }}, {{ restraunt.state }}"
                onclick='calcRoute("{{ restraunt.url }}")'>Find Directions!</button>
            <div class="g-plus" data-action="share" data-href= {{ restraunt.url }} ></div>
            <div>
              <button class="reveal" onclick="toggle_visibility('{{restraunt.url}}a')">Add to Itinerary?</button>
            </div>
            <div class="revealinfo" id="{{restraunt.url}}a">
              <form action="/itinerary/create" method="POST">
                <input type="time" name="clock" value= ""/><br/>
                <input type="date" name="calendar" value= ""/><br/>
                <input type="text" name="what" placeholder= "What are you going to do?"/>
                <input type="hidden" name="where" value= "{{ restraunt.url }}"></input>
                <input type="hidden" name="spot" value= "{{ restraunt.name }}"></input>
                <button type="submit" value="Add to Itinerary">Put it on my Itinerary!</button>
              </form>
            </div>
            {% endfor %}
        <a id= "eventful"> <button class="button" type = "button" name="Eventful Results">Events Near You!</button></a>
        <h1> {% for event in events %} </h1>
          <h3> {{ event.title }} </h3>
          <div> {{ event.venue }} </div>
<!--
          <div> {{ event.address }}, {{ event.city }}, {{ event.region }}, {{ event.country }}, {{ event.postal_code }}</div> -->
          <a href= {{ event.url }} > {{ event.url }} </a>
          <div> {{ event.description }} </div>
          <div>
            <input id="{{ event.url }}" type="textbox" value="{{ event.address }}, {{ event.city }}, {{ event.region }}, {{ event.country }}, {{ event.postal_code }}">
            <input type="button" value = "Find Directions!" onclick='calcRoute("{{ event.url }}")'>
            <!-- <button type = "button" value="{{ event.address }}, {{ event.city }}, {{ event.state }}, {{ event.postal_code }}"
              onclick='calcRoute("{{ event.url }}")'>Find Directions!</button> -->
          </div>
          <div class="g-plus" data-action="share"
            data-href= {{ event.url }} ></div>
            <button class="reveal" onclick="toggle_visibility('{{event.url}}a')">Add to Itinerary?</button>
            <div class="revealinfo" id="{{event.url}}a">
              <form action="/itinerary/create" method="POST">
                <input type="time" name="clock" value= ""/><br/>
                <input type="date" name="calendar" value= ""/><br/>
                <input type="text" name="what" placeholder= "What are you going to do?"/>
                <input type="hidden" name="where" value= "{{ event.url }}"></input>
                <input type="hidden" name="spot" value= "{{ event.title }}"></input>
                <button type="submit" value="Add to Itinerary">Put it on my Itinerary!</button>
              </form>
            </div>
          {% endfor %}
      <!-- </div> -->
    </div>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
