<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <script>
  window.onload = function() {
    var startPos;
    var geoSuccess = function(position) {
      startPos = position;
      document.getElementById('latitude').value = startPos.coords.latitude;
      document.getElementById('longitude').value = startPos.coords.longitude;
    };
    navigator.geolocation.getCurrentPosition(geoSuccess);
  };
</script>
{% if form %}
<form action='/' method = "GET">
  <input id = 'latitude' type = "hidden" name = 'lat' value = '60'>
  <input id = 'longitude' type = "hidden" name = 'lon' value = '100'>
</form>
{% endif %}
</body>
</html>
