<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>

 <script>
// var lat;
// var lon;
// var url;
// window.onload = function() {
//   var startPos;
//   var geoSuccess = function(position) {
//     startPos = position;
//     lat = startPos.coords.latitude;
//     lon = startPos.coords.longitude;
//     // initialize();
//   };
//   navigator.geolocation.getCurrentPosition(geoSuccess);
//
// };
// </script>

    <link rel="stylesheet" type= "text/css" href="resources/places.css"></link>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src ="resources/places.js"></script>
  </head>
  <body>
    <div class="FixedHeightContainer">
      <div class="infobox">
        {{ greeting }}
          <a id= "yelp"> <button type = "button" name="Yelp Results">Yelp</button></a>
        <a id= "eventful"> <button type = "button" name="Eventful Results">Eventful</button></a>
      </div>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
