<!DOCTYPE html>
<html>
  <head>
    <title>Place searches</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0;
        padding: 0;
      }

    </style>

 <script>
// var lat;
// var lon;
// var url;
// window.onload = function() {
//   var startPos;
//   var geoSuccess = function(position) {
//     startPos = position;
//     lat = startPos.coords.latitude;
//     lon = startPos.coords.longitude;
//     // initialize();
//   };
//   navigator.geolocation.getCurrentPosition(geoSuccess);
//
// };
// </script>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src ="resources/places.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type= "text/css" href="resources/places.css"></link>
  </head>
  <body>
    <div class="FixedHeightContainer">
      <div class="infobox">
        {{ greeting }}
          <a id= "yelp"> <button type = "button" name="Yelp Results">Yelp</button></a>
          <ul> {% for restraunt in restraunts%}
            <br/><li> {{ restraunt.name }} </li>
            <li> {{ restraunt.url }} </li>
            <li> {{ restraunt.address }}, {{ restraunt.city }}, {{ restraunt.state }} </li>
            <li>{{ restraunt.types }}</li>
            {% endfor %}
          </ul>
        <a id= "eventful"> <button type = "button" name="Eventful Results">Eventful</button></a>
        <ul> {% for event in events %}
          <li> {{ event.title }} </li>
          <li> {{ event.venue }} </li>
          <li> {{ event.city }}, {{ event.region }}, {{ event.country }} </li>
          <li> {{ event.url }} </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div id="map-canvas"></div>
  </body>
</html>
