.FixedHeightContainer{
  float:right;
  height: 100%;
  width: 350px;
  padding: 3px;
  border: 2px solid black;
}

.infobox{
  margin:30px;
  overflow:auto;
  background-color: #ffffff;
  /*opacity:0.6;*/
  filter: alpha(opacity=100);
}

#map-canvas{
  border: 2px solid black;
}

body{
  font-family: 'Roboto', sans-serif;
}

button{
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4{
  margin-bottom: 1px;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}
